.list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  max-height: 390px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn--text {
  outline: none;
  background: none;
  border: none;
  font-family: var(--font-titles);
  color: var(--color-00-1);
  font-weight: 700;
  opacity: 0.3;
  font-size: 16px;
  cursor: pointer;
  margin-right: 31px;

  &.active {
    opacity: 1;
  }
}

.container--item {
  list-style: none;
  width: 100%;
  max-height: 80px;
  display: flex;
  align-items: center;
  padding: 8px 24px 8px 8px;
  box-sizing: border-box;
  margin-bottom: 11px;
  margin-top: 0;
}

.li__checkbox {
  background-color: var(--color-01);
  height: 64px;
  width: 64px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;

  input[type="checkbox"] {
    appearance: none;
    border: 3px solid var(--color-00);
    border-radius: 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:checked {
      &::after {
        content: "✔";
      }
    }
  }
}

.li__text {
  p {
    margin: 0;
    color: var(--color-00-1);

    &:nth-child(1) {
      font-family: var(--font-titles);
      font-weight: 700;
      font-size: 16px;
    }

    &:nth-child(2) {
      font-family: var(--font-main);
      font-weight: 400;
      font-size: 13px;
    }

    &.cross {
      text-decoration: line-through;
    }
  }
}

.li__marks {
  margin-left: auto;
  display: flex;

  svg {
    position: static;
    margin-right: 2px;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
    align-items: center;

    &:first-of-type {
      margin-right: 9px;
    }
  }
}
